.about-section {
  padding: 60px 20px;
  background-color: #fff;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: center;
  }
}
.about-image{
  max-width:600px;
  width:100%;
  text-align:center;
}


.about-content{
  width:100%;

}
.about-image img {
  width: 90%;
  border-radius: 20px;
  object-fit: cover;
}

.about-content {
  flex: 1;
}

.about-subtitle {
  color: #00E2EE;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.about-description {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-button {
  background-color: #00E2EE;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background:#181828;
  
}
