@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.about-section {
  padding: 60px 20px;
  background-color: #fff;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: center;
  }
}
.about-image{
  max-width:600px;
  width:100%;
  text-align:left;
}


.about-content{
  width:100%;

}
.about-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.about-content {
  flex: 1;
}

.about-subtitle {
  color: #00E2EE;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.about-description {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-button {
  background-color: #00E2EE;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background:#181828;
  
}
.about-section{
  padding:50px 0px 20px 0px!important;
  max-width:1200px !important;
  margin:auto !important;
}

.about-section h3 span{
  font-size:20px !important;
  font-family: "Inter", sans-serif !important;
  
  margin-bottom:10px;

}
.about-section h3{
  margin-bottom:10px !important;
  font-weight: 500 !important;
  color:#000;
  font-family: "Inter", sans-serif !important;



}
.about-section p,.about-content p span{
  font-size: 16px !important;
    line-height: 25px!important;
    color:#000 !important;
    margin-bottom:20px !important;
}

.about-section-extra-custom{
  padding-bottom:50px !important;
}
.about-section-extra-custom2{
  padding-top:10px !important;
  padding-bottom:50px !important;
}