@media(min-width:769px)
{
    .agent-details h2{
    font-size:25px;
    margin-bottom:10px !important;
}
.agent-short-desc{
    font-size:15px !important;
    color:#000;
    font-weight:600;
}
}
.contact-agent{
    display:flex;
    gap:30px;
    color:#fff;

}
.contact-agent svg{
    background:#00e2ee;
    border-radius:100px;
    padding:4px;
    width:25px;
    height:25px;


}
