@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/banner/banner1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

@media (min-width: 768px) {
  .banner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.form-title {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 0px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 15px;
  margin-left:-25px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

form label {
  font-size: 14px;
  font-weight: 500;
  color:#000 !important;
  margin-top:12px;
}

form select,
form input {
  padding: 8px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
  font-size: 14px;
  color:#b3b3b3;
}

form button {
  background-color: #00E2EE;
  color: white;
  font-weight: normal;
  padding: 7px 20px;
  font-size:14px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 10px;
  width:fit-content;
}

.center-text {
  text-align: center;
  color: white;
  max-width: 400px;
}

.center-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight:400;
}

.center-text h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Instrument Sans", sans-serif !important;
}

.learn-more {
  background-color: #00E2EE;
  color: white;
  font-weight: normal;
  padding: 10px 30px;
  border-radius: 0px;
  font-size:20px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif !important;

}
.learn-more:hover{
  background:#181828;

}
.banner-center-text h1{
  font-size:45px;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
  margin:auto;
}

.tabs button {
  padding: 10px 20px;
  background: #00e2ee;
  color: #fff !important;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.active-tab {
  background: #000!important;
  color: #fff;
}


.date-row {
  display: flex;
  gap: 12px;
}

.date-field {
  flex: 1;
}

.date-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.date-field input {
  width: 100%;
  padding: 12px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
