.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/banner/banner1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

@media (min-width: 768px) {
  .banner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.form-title {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 0px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 15px;
  margin-left:-25px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form label {
  font-size: 14px;
  font-weight: 500;
  color:#000 !important;
}

form select,
form input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

form button {
  background-color: #00E2EE;
  color: white;
  font-weight: normal;
  padding: 7px 20px;
  font-size:14px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 10px;
  width:fit-content;
}

.center-text {
  text-align: center;
  color: white;
  max-width: 400px;
}

.center-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight:400;
}

.center-text h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.learn-more {
  background-color: #00E2EE;
  color: white;
  font-weight: normal;
  padding: 10px 25px;
  border-radius: 0px;
  font-size:16px;
  border: none;
  cursor: pointer;
}
.learn-more:hover{
  background:#181828;

}
.banner-center-text h1{
  font-size:45px;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
  margin:auto;
}

.tabs button {
  padding: 10px 20px;
  background: #00e2ee;
  color: #fff !important;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.active-tab {
  background: #000!important;
  color: #fff;
}


.date-row {
  display: flex;
  gap: 12px;
}

.date-field {
  flex: 1;
}

.date-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.date-field input {
  width: 100%;
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
