@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.blog-section {
  display: flex;
  gap: 30px;
  padding-bottom: 0px;
  padding-top:0px;
  padding-right: 20px;
  padding-left:20px;
  justify-content: center;
  flex-wrap: wrap;
  background: #f7feff;
}

.blog-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  max-width: 370px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.blog-img img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
}

.blog-content {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.blog-date {
  border-right: 1px solid #00000030;
  padding-right: 15px;
  text-align: center;
}

.blog-date h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color:#000;
}

.blog-date p {
  margin: 0;
  font-size: 16px;
  color: #444;
}

.blog-details {
  flex: 1;
}


.blog-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #000;
  font-family: "Inter", sans-serif !important;
Line-height:23px;
}

.blog-date h2{
 font-family: "Inter", sans-serif !important;
 font-size: 32px;
}

.blog-desc {
  font-size: 12px;
  color: #555;
  margin: 0;
Line-height:18px;
text-align:left;
}
.blog-date p{
  text-align:center;
  font-family: "Inter", sans-serif;
  
}