.blog-section {
  display: flex;
  gap: 30px;
  padding-bottom: 60px;
  padding-top:0px;
  padding-right: 20px;
  padding-left:20px;
  justify-content: center;
  flex-wrap: wrap;
  background: #f7feff;
}

.blog-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  max-width: 370px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.blog-img img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
}

.blog-content {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.blog-date {
  border-right: 1px solid #ddd;
  padding-right: 15px;
  text-align: center;
}

.blog-date h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color:#000;
}

.blog-date p {
  margin: 0;
  font-size: 16px;
  color: #444;
}

.blog-details {
  flex: 1;
}

.blog-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #111;
}

.blog-desc {
  font-size: 14px;
  color: #555;
  margin: 0;
  line-height: 1.6;
}
