.catalog-section {
  display: flex;
  gap: 40px;
  padding: 60px 40px;
  background-color: #f4f4f4;
}

.filterbytotal {
 
  gap: 40px;
  padding:  60px 40px 0px 40px;
  background-color: #f4f4f4;
}
.left-column-custom {
  flex: 0 0 100%;
}
.right-column-one{
     flex: 0 0 27%;
  background: white;
  width: 260px !important;
  max-width:350px!important;
  padding: 30px;
  border-radius: 10px;
  text-align:center;
  margin-bottom:20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.blog-date{
  width:fit-content;
  background:#dcdcdc;
  border-radius:100px;
  padding:5px 20px;
  font-size:12px;

}

.right-column h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
  text-align:center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.card-grid-custom{
grid-template-columns: repeat(3, 1fr);
}

.catalog-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.catalog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.catalog-card-content {
  padding: 20px;
}

.catalog-card-content h3 {
  color: #000 !important;
    font-family: Inter, sans-serif !important;
    font-size: 20px !important;
    line-height: 29px !important;
}

.catalog-desc {
      color: #868686 !important;
    text-align: left !important;
    font-family: Inter, sans-serif !important;
    font-size: 14px !important;
    line-height: 20px !important;
    margin-bottom:30px;
}

.catalog-features {
  display: flex;
  font-size: 0.9rem;
  color: #333;
  flex-wrap: wrap;
  gap: 12px;
}

.catalog-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid #eee;
  font-weight: 500;
  background: #c8fafe38;
}

.catalog-price {
  color: #00e2ee;
  font-size: 25px !important;
    font-weight: 500 !important;
}

.catalog-readmore {
  background: black;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 0px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.catalog-readmore:hover {
  background: #00e2ee;
}
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #f0f0f0;
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.pagination button.active,
.pagination button:hover {
  background-color: #ff6b35;
  color: white;
}
.filter-status-bar {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: #333;
}
.filterbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  flex-wrap: wrap;
  gap: 10px;
}

.sort-dropdown select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
}
.right-column {
  position: sticky;
  top: 100px; /* adjust based on header height */
  align-self: flex-start;
  height: fit-content;
  background: #fff;
  padding: 20px;
  width:30%;
  border-radius: 15px;
  
}
.right-column-custom{
  width:100%;
  margin:auto;
  background-color: #f4f4f4;
}
.catalog-features img{
  width:17px !important;
  height:15px !important;
}

.detail-item{
  align-items: center;
    gap: 6px;
    display: flex;
}

.agent-anchor:hover div{
  border-bottom:2px solid rgb(0, 226, 238);
  box-shadow:0px 0px 10px #dcdcdc;

}
.price-card h5{
  color:#000; 
  text-transform:capitalize;

}
.namenumber{
  background:#00e2ee;
  padding:2px 7px;
  border-radius:100px;
  color:#fff !important;
}
.right-customheading h2{
  text-align:left;
}
.property-image-agent:hover{
  box-shadow: 0px 0px 10px #dcdcdc;
  border-radius:100px;
  padding:0px;

}
.right-column-one:hover{
  box-shadow: 0px 0px 10px #dcdcdc;

}