@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.hero-banner {
  background-image: url('../images/banner/conatctbanner.jpg'); /* replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-hero-banner{
  /* margin-top:50px; */
  background-color: #fff;
}
.contact-hero-banner h2{
  font-size:30px;
}

.overlay-contact {
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  color: #fff;
  padding: 40px;
  max-width: 100%;
  width:100%;
  height: 400px;

  border-radius: 0px;
}
.hero-sec-overlaymain{
  max-width:1000px;
  margin:auto;
}

.hero-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

.highlight {
  color: #00E2EE;
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-button {
  background-color: #00E2EE;
  color: white;
  font-size: 18px;
  padding: 14px 30px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-button:hover {
  background-color: #00E2EE;
}
@media(min-width:767px)
{
  .hero-sec-overlaymain h1{
    font-size:40px !important;
   font-family: "Instrument Sans", sans-serif !important;
   line-height:45px !important;

  }
  .hero-subtitle{
    font-size:20px !important;
  font-family: "Inter", sans-serif;

  }
  .hero-sec-overlaymain{
    padding:20px !important;
  }
  .overlay-contact,.hero-banner.contact-hero-banner{
    height:340px !important;
  }
}