.partners-section {
  padding: 20px 20px;
  background-color: #fff;
  text-align: center;
}

.partners-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.partners-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.partner-logo {
  padding: 10px 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 80px;
  transition: transform 0.3s ease;
}

.partner-logo img {
  max-height: 60px;
  width: auto;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.partner-logo img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}
.partners-section .slick-slide{
  width:240px !important;
}