@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.partners-section {
  padding: 20px 20px 0px 20px;
  background-color: #fff;
  text-align: center;
}

.partners-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.partners-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.partner-logo {
  padding: 10px 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 80px;
  transition: transform 0.3s ease;
}

.partner-logo img {
  max-height: 60px;
  width: auto;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.partner-logo img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}
.partners-section .slick-slide{
  width:240px !important;
}
.partners-para{
  color:#000;
  text-align:center;
  margin-top:-20px;
  margin-bottom:20px;
  font-family: "Inter", sans-serif;

}