.service-section {
  padding-bottom:60px;
  padding-top:0px !important;
  text-align: center;
  background-color: #fff;
}

.fancy-mainheading h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.fancy-mainheading h2 span {
  color: #00E2EE;
}

.service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.service-card {
  width: 380px;
  background: #fff;
  border: 1px solid #00E2EE;
  border-radius: 12px;
  padding: 30px 25px;
  text-align: left;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.icon-wrap {
  width: 100px;
  height: 100px;
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-wrap svg {
  color: #fff;
  font-size: 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

.description {
  color: #333;
  font-size: 12px;
  line-height: 1.7;
  margin-bottom: 20px;
}
.read-more:hover {
  background:none;
}
.read-more {
  color: #00E2EE;
  background:none;
  font-weight: 400;
  padding:0px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 13px;
}

.read-more:hover {
  color: #000000;
}

.read-more span {
  font-size: 20px;
  
  margin-left: 3px;
}
.service-icon-box{
  display:flex;
  align-items: center;
  gap:30px;

}
.service-container{
  padding-top:30px;
  background-color: #fff;
}
.service-icon-box img{
  filter: brightness(1);

}