.detailagent{
  color:#00e2ee !important;
  margin:auto !important;
  font-size:12px !important;
  
}
.custombtn:hover{
  background:linear-gradient(135deg, #00e2ee, #0099cc)!important;
  color:#fff!important;
}
.wp-block-heading,.wp-block-heading span{
  margin-bottom:15px !important;
  font-size:20px !important;
}
@media(max-width:767px)
{
  .custom-desccss{
    display:block!important;
  }
  .custom-desccss h2 span{
    font-size:15px !important;
  }
  .details-box{
    padding:20px !important;

  }
  .rh_content{
    padding:25px 10px !important;
  }
  .custom-desccss table{
    width:100%;
    max-width: 320px;
  }
  .custom-desccss table span,.custom-desccss table td{
    font-size:12px !important;
  }
  .custom-desccss table td{
    padding:5px !important;
  }
}